@charset "utf-8";
/* CSS Document */
.container{
	width: 40%;
	font-style: inherit;
	margin: auto;
	border: 2px solid rgb(0,0,0);
	border-radius: 20px;
	text-align: center;
background-color: rgb(174,234,255);
}
input{
	width: 80%;
	margin: 10px;
	padding: 4px;
	border: 2px solid rgb(0,0,0);
	border-radius: 10px;
}
.head{
	border: 2px solid rgb(0,0,0);
	padding: 10px;
	background-color: rgb(215 239 250);
	border-radius: 20px;
}
footer{
	border: 2px solid rgb(0,0,0);
	padding: 10px;
	background-color: rgb(215 239 250);
	border-radius: 20px;
	margin: 20px 0px 20px 0px
}
.btn{
	text-decoration: none;
	
	border: 2px solid rgb(0,0,0,);
	border-radius: 10px;
	margin-top: 10px;
	padding: 6px ;
	background-color:  rgb(215 239 250);
}